* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: monospace;
    background-color: #181926;
    color: #cad3f5;
    line-height: 1.5em;
}

a {
    color: #8aadf4;
}

p {
    font-size: 1.1em;
}

#root {
    margin-top: 20px;
}

.story-node {
    margin-left: 20px;
}

.clicked-link, .passage-name {
    color: #b7bdf8;
    font-style: italic;
}